<div class="flex flex-col items-center">
  <div class="w-full lg:w-9/12 md:px-16">
    <div class="min-w-full py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-2xl lg:text-3xl font-bold text-gray-900">
        Chat Rooms
      </h1>
    </div>
    <div class="min-w-full pb-6 px-4 sm:px-6 lg:px-8">
      <% @chat_rooms.each do |chat_room| %>
        <%= turbo_frame_tag dom_id(chat_room) do %>
          <div class="min-w-full bg-white mb-4 shadow overflow-hidden rounded-lg">
            <div class="flex px-4 py-4 sm:px-6">
              <div class="flex-1">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                  <%= chat_room.name %>
                </h3>
              </div>
              <%= link_to 'Edit', edit_chat_room_path(chat_room), class: %w[text-indigo-600 hover:text-indigo-900] %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
